[Unit]
Description=Cloudflare DNS over HTTPS Proxy
Wants=network-online.target
After=network.target network-online.target
 
[Service]
ExecStart={{CLOUDFLARED_LOCATION}}/cloudflared proxy-dns --port {{DNS_LOCAL_PORT}} --upstream https://{{DNS_PRIMARY}}/.well-known/dns-query --upstream https://{{DNS_SECONDARY}}/.well-known/dns-query
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
